body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text {
  height: 100em;
}
p {
  width: 650px;
  margin: 20px auto;
  font-size: 20px;
  line-height: 28px;
}
.hidden {
  visibility: hidden;
  width: 0;
  height: 0;
  display: none;
}
.articleVisb {
  text-align: center;
}
.textEditOpen {
  visibility: visible;
}
.articles_list {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.articles {
  text-align: center;
  list-style: none;
}
.article_select {
  margin: 0 20% 0px 0;
  float: right;
}

